################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaterialQ/.vs/MaterialQ/FileContentIndex/46fa7a2c-7914-4e79-81ae-17a6a7fa71fe.vsidx
/MaterialQ/.vs/MaterialQ/FileContentIndex/e230f6f4-117a-4ebf-b2cb-aa28bd5bad07.vsidx
